<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
<listener class-name="com.tmb.listeners.ListenerClass"/>
</listeners>
  <test thread-count="1" name="Test" parallel ="methods">
    <classes>
      
        <class name="com.tmb.test.OrangeHRMTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
